.container{
    margin-bottom:80px ;
}


.pink-bg{
    background-color: #FEEAE9; 
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0% , #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    cursor: pointer;
}
.cat1,.cat2, .cat3{
    padding: 10px 20px;
    border-radius: 10px;
    
}
.cat1{
    background-color: rgb(235, 196, 146)
}
.cat2{
    background-color: lightpink;
}
.cat3{
    background-color: powderblue;
}
.categories h1{
    color: white;
    cursor: pointer;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;

}
.card-footer{
    border-top: none;
    background-color: white;
}
#contact-us{
    height: 300px;
}
footer{
    text-align: center;
}